@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.featured-projects__image {
    max-width: 300px;
    height: auto;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

body {
   color: white;
   background-color: black;
   padding: 0 10vw 5vh 10vw;
   @include center;
   flex-direction: column;
   font-family: 'Inter', sans-serif;
   overflow-x: hidden;
   
   .white-bar {
        position: fixed;
        align-items: center;
        top: 0px;
        width: 100vw;
        height: 80px;
        background-color: rgba(217, 224, 233, 1); 
   }
   .navbar {
        display: flex;
        justify-content: right;
        flex-direction: row;
        position: sticky;
        align-items: center;
        top: 0px;
        width: 100vw;
        height: 80px;
        background-color: rgba(217, 224, 233, .6); 
        padding-right: 60px; 

        .navbar__icons {
            @include center;

            .navbar__icon {
                background-position: 50% 50%;
                background-size: 50%;
                background-repeat: no-repeat;
                height: 40px;
                width: 40px;
                margin: 5px;
                background-color: rgb(203, 210, 225);
                border-radius: 50%;
            }
            .linkedin{
                background-image: url('/images/linkedin-original.svg');
                
            }
            .github{
                background-image: url('/images/github-original.svg');
            }   
        }   
   }


   
   .hero {
        @include center;
        flex-direction: column;
        min-height: 60vh;
        margin-bottom: 25vh;
        position: relative;
        animation-name: slide-fade;
        animation-delay: 1s;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0, 0.1, 0.15, 1.0);
        z-index: 1;
       
        @keyframes slide-fade {
            from {
              margin-top: 5%;
              color: black
            }
            to {
              margin-top: 0%;
              color: white;
            }
        }

        .hero__name, .hero__title {
            font-size: 32px;
            line-height: 1.1;
            font-weight: 900;
            letter-spacing: -0.05em;
            
        }
   
    }



   .skills {
        @include center;
        align-items: flex-start;
        flex-direction: column;
        align-items: center;

        .skills__header {
            justify-content: center;
            text-align: center;
            position: relative;
            min-width: 500px;
            margin-bottom: 20px;
            font-size: 75%;
            font-weight: 800;
            letter-spacing: 0.5em;
            text-transform: uppercase;
            color: black;
            animation-name: fade-in;
            animation-delay: 2.5s;
            animation-duration: 5s;
            animation-timing-function: cubic-bezier(0.00, 0.5, 0.95, 1.0);
            animation-fill-mode: forwards;

            @keyframes fade-in {
                from {
                  color: black
                }
                to {
                  color: white;
                }
            }
        }

        .skills__cards {
            @include center;
            flex-direction: column;
            width: 100%;
            height: auto;
            text-align: center;

            .skills__card {
                width: 70%;
                margin: 0px 15vw;
                background-color: white;
                color: black;
                @include center;
                flex-direction: column;
                padding: 45px 35px;
                border-radius: 6px;
                
                .skills__icon {
                    height: 80px;
                    width: auto;
                }

            }
        }
        
   }

}
